<!DOCTYPE html>
<html lang="zh-cn" >
<head>
<title>{% block title %}默认标题 - 首页{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">导航栏  <a href=" {% url 'home' %} ">Home</a></h1>

        </div>
        
        <div id="user-tools">
            欢迎 | 
        <a href=" {% url 'books' %} ">增加书</a>|
        <a href=" {% url 'users' %} ">增加用户</a>|
        
        
        <a href="/admin/">管理登录</a>
        
        </div>
    </div>
    <!-- END Header -->
    
</div>
{% block content %}
<div>测试内容</div>
{% endblock %}
 
</body>
</html>
